BasedOnStyle: Google
IndentWidth: 4
AccessModifierOffset: -4
ColumnLimit: 80
AllowShortFunctionsOnASingleLine: None
SortIncludes: CaseInsensitive
InsertNewlineAtEOF: true
AlignArrayOfStructures: Right
AlignAfterOpenBracket: AlwaysBreak
